@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.parent-wrapper { /* All the component is inside this div classname*/
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg);
    background-size: cover;
    background-position: center;

}

.btn-login {
    width: 200px;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 25px;
    color : #333;
    font-weight: 600;
}